data/
app_controller/migrations/__pycache__/
computing/lulc/__pycache__
computing/mws/__pycache__
computing/crop_grid/__pycache__
dpr/__pycache__
venv/
.env
*.pyc
.idea/
.DS_Store
.cursor/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
static/

# Virtual Environment
venv/
env/
ENV/
.env
.venv
env.bak/
venv.bak/
home

# ignored apps
dashboard/

#ignore migrations
bot_interface/migrations/*.py
community_engagement/migrations/*.py
computing/migrations/*.py
dpr/migrations/*.py
geoadmin/migrations/*.py
organization/migrations/*.py
plans/migrations/*.py
plantations/migrations/*.py
projects/migrations/*.py
public_api/migrations/*.py
stats_generator/migrations/*.py
users/migrations/*.py

*/migrations/*.py
*/migrations/__pycache__/

.installation_state/
core-stack-key.json