<h3>{{ t.section_e.asset_type_heading }}</h3>

<table>

    <thead>
        <tr>
            <th>{{ t.section_e.asset_type }}</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>{{ t.section_e.recharge_structure_asset }}</td>
        </tr>
        <tr>
            <td>{{ t.section_e.irrigation_structure_asset }}</td>
        </tr>
        <tr>
            <td>{{ t.section_e.water_structure_asset }}</td>
        </tr>
        <tr>
            <td>{{ t.section_e.rs_water_structure_asset }}</td>
        </tr>
    </tbody>

</table>