<div class="section">

    <h2>
        {{ t.section_b.title }}
    </h2>

    <table>

        <tr>
            <td class="label">
                {{ t.section_b.village }}
            </td>

            <td>
                {{ section_b.village_name|default:t.common.na }}
            </td>
        </tr>

        <tr>
            <td class="label">
                {{ t.section_b.gram_panchayat }}
            </td>

            <td>
                {{ section_b.gram_panchayat|default:t.common.na }}
            </td>
        </tr>

        <tr>
            <td class="label">
                {{ t.section_b.tehsil }}
            </td>

            <td>
                {{ section_b.tehsil|default:t.common.na }}
            </td>
        </tr>

        <tr>
            <td class="label">
                {{ t.section_b.district }}
            </td>

            <td>
                {{ section_b.district|default:t.common.na }}
            </td>
        </tr>

        <tr>
            <td class="label">
                {{ t.section_b.state }}
            </td>

            <td>
                {{ section_b.state|default:t.common.na }}
            </td>
        </tr>

        <tr>
            <td class="label">
                {{ t.section_b.number_of_settlements }}
            </td>

            <td>
                {{ section_b.total_settlements|default:t.common.na }}
            </td>
        </tr>

        <tr>
            <td class="label">
                {{ t.section_b.intersecting_mws }}
            </td>

            <td>

                {% if section_b.settlement_mws_pairs %}

                <table class="nested-table">
                    <tr>
                        <td class="label">
                            {{ t.section_b.intersecting_mws_inner_settlement }}
                        </td>
                        <td class="label">
                            {{ t.section_b.intersecting_mws_inner_mws }}
                        </td>
                    </tr>

                    {% for item in section_b.settlement_mws_pairs %}
                    <tr>
                        <td>{{ item.settlement }}</td>
                        <td>{{ item.mws_id }}</td>
                    </tr>
                    {% endfor %}

                </table>

                {% else %}
                    No intersecting watersheds
                {% endif %}

            </td>

        </tr>

        <tr>
            <td class="label">
                {{ t.section_b.latitude_and_longitude }}
            </td>

            <td>
                {{ section_b.village_coordinates|default:t.common.na }}
            </td>
        </tr>

    </table>

</div>